@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-Variable.woff2") format("woff2-variations");
  src: url("/fonts/GeneralSans-Variable.woff2") format("woff2") tech("variations");
  font-weight: 500 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "General Sans";
  src: url("/fonts/GeneralSans-VariableItalic.woff2") format("woff2-variations");
  src: url("/fonts/GeneralSans-VariableItalic.woff2") format("woff2") tech("variations");
  font-weight: 500 700;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-Variable.woff2") format("woff2-variations");
  src: url("/fonts/JetBrainsMono-Variable.woff2") format("woff2") tech("variations");
  font-weight: 400 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/fonts/JetBrainsMono-VariableItalic.woff2") format("woff2-variations");
  src: url("/fonts/JetBrainsMono-VariableItalic.woff2") format("woff2") tech("variations");
  font-weight: 400 800;
  font-display: swap;
  font-style: italic;
}
