---
import { Icon } from "astro-icon/components";
import GlobalStyles from "@styles/GlobalStyles.astro";
import Footer from "@components/Footer.astro";

const strings: string[] = [
  "Uh oh...",
  "It works on my machine!",
  "This is embarrassing...",
  "I've searched everywhere, but...",
];

const getRandomString = () => {
  const randomIndex = Math.floor(Math.random() * strings.length);
  return strings[randomIndex];
};

export const prerender = false;

const randomString = getRandomString();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{randomString} | Arash Nur Iman</title>
    <meta
      name="description"
      content="A student and developer from Singapore learning about creating designed, intuitive, and practical products using technology."
    />
  </head>

  <body>
    <main class="container">
      <Icon name="solar:question-square-bold-duotone" />
      <h1 class="subtitle">{randomString}</h1>
      <p>
        There isn't a page that exists here. If you're here by mistake, you can
        go back to the <a href="/">home page</a>.
      </p>
    </main>

    <Footer />

    <style>
      body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
      }

      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;
      }

      [data-icon] {
        font-size: calc(var(--title) * 2);
        margin-bottom: 1rem;
      }
    </style>
  </body>

  <GlobalStyles />
</html>
