---
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Preface from "../components/Preface.astro";
import Works from "../components/Works.astro";
import Skills from "../components/Skills.astro";
import Connect from "../components/Connect.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Arash Nur Iman</title>
    <meta
      name="description"
      content="A student and developer from Singapore learning about creating designed, intuitive, and practical products using technology."
    />
  </head>

  <body>
    <Header />
    <Hero />
    <Preface />
    <Works />
    <Skills />
    <Connect />
    <Footer />
  </body>

  <GlobalStyles />
</html>
