<header>
  <div>
    <a href="#preface">
      <p>About</p>
    </a>
    <a href="#works">
      <p>Works</p>
    </a>
    <a href="#skills">
      <p>Skills</p>
    </a>
    <a href="#connect">
      <p>Connect</p>
    </a>
  </div>

  <div>
    <a href="https://blog.arash.codes"><p>Blog</p></a>
  </div>
</header>

<style>
  header {
    background-color: #0a0a0a88;
    backdrop-filter: blur(0.5em);
    border-radius: 1em;
    border: 3px solid #1f1f1f;
    position: fixed;
    margin-top: 2em;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    transition: opacity 0.125s ease-out;
  }

  header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  header div:not(:first-child) {
    border-left: 3px solid #1f1f1f;
  }

  header:hover {
    opacity: 1;
  }

  header a {
    border: none !important;
    border-radius: 0.75em;
    padding: 0 !important;
    transition: background-color 0.125s ease-out;
  }

  header a p {
    font-size: var(--body);
    margin: 0;
    padding: 0.5em 1em;
  }

  header a:hover {
    background-color: #1f1f1f;
  }

  @media only screen and (min-width: 1024px) {
    margin-top: 2em;
  }
</style>
