---
import images from "../../data/heroImages";
import { Image } from "@astrojs/image/components";
---

<section id="hero">
  <div id="hero__gallery">
    <div id="hero__gallery-text">
      <span>Scroll right for more pictures! →</span>
      <span>Hover over them, too!</span>
    </div>
    {
      images.map((image, index) => (
        <Image
          src={image.src}
          alt={image.alt}
          height={360}
          width={undefined}
          aspectRatio={16 / 9}
          loading={index > 1 ? "lazy" : "eager"}
          format="webp"
          style={{ "--animation-order": index }}
          draggable={false}
        />
      ))
    }
  </div>

  <div id="hero__text">
    <span>Hey! I'm Arash.</span>
    <h2>
      I'm learning to create designed, intuitive, and practical products using
      technology.
    </h2>
  </div>
</section>

<script>
  import images from "../../data/heroImages";

  const imageElements = document.querySelectorAll("#hero__gallery > img");
  const missionElement = document.querySelector("#hero__text > h2");

  const supportsHover = window.matchMedia("(hover: hover)").matches;
  const eventStart = supportsHover ? "mouseenter" : "click";
  const eventEnd = supportsHover ? "mouseleave" : "click";
  let timeout;

  imageElements.forEach((imageElement, index) => {
    imageElement.addEventListener(eventStart, () => {
      if (!supportsHover) {
        if (timeout) clearTimeout(timeout);
        timeout = setTimeout(() => {
          missionElement.textContent =
            "I'm learning to create designed, intuitive, and practical products using technology.";
          (imageElement as HTMLElement).style.filter =
            "grayScale(100%) brightness(50%)";
        }, 2500);
      }
      missionElement.textContent = images[index].text;
      (imageElement as HTMLElement).style.filter =
        "grayScale(0%) brightness(100%)";
    });

    if (supportsHover) {
      imageElement.addEventListener(eventEnd, () => {
        missionElement.textContent =
          "I'm learning to create designed, intuitive, and practical products using technology.";
        (imageElement as HTMLElement).style.filter =
          "grayScale(100%) brightness(50%)";
      });
    }
  });

  if (!supportsHover) {
    // Replaces the text in the second span element in #hero__gallery-text on non-hover devices
    (
      document.querySelector(
        "#hero__gallery-text > span:last-child"
      ) as HTMLElement
    ).textContent = "Tap on them, too!";
  }

  const greetings = ["Hey!", "Hello!", "Hi there,", "Hiya,", "Selamat datang!"];
  setInterval(() => {
    const greetingElement = document.querySelector("#hero__text > span");
    const randomGreeting =
      greetings[Math.floor(Math.random() * greetings.length)];
    greetingElement.textContent = randomGreeting + " I'm Arash.";
  }, 10000);
</script>

<style>
  @keyframes present {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
    }
  }

  #hero {
    position: relative;
    min-height: 100vh;
    overflow-x: scroll;
    display: flex;
    background: radial-gradient(#1f1f1f, 2.5px, transparent 3px) 0 0 / 50px 50px;
  }

  #hero__gallery {
    display: flex;
    position: absolute;
    background-color: #0a0a0a;
    z-index: 2;
  }

  #hero__gallery-text {
    opacity: 0.4;
    width: fit-content;
    position: absolute;
    margin-top: 0.5em;
    margin-left: 0.5em;
    z-index: 3;
  }

  #hero__gallery-text > span {
    display: block;
  }

  @keyframes loading {
    0% {
      background-color: #3d3d3d;
    }
    50% {
      background-color: #1f1f1f;
    }
    100% {
      background-color: #3d3d3d;
    }
  }

  #hero__gallery > img {
    height: 360px;
    filter: grayscale(100%) brightness(50%);
    transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
    animation: 0.75s ease calc(var(--animation-order) * 200ms) 1 present,
      3s ease-in-out infinite loading;
    animation-fill-mode: backwards;
  }

  #hero__text {
    position: sticky;
    align-self: flex-end;
    left: calc(var(--section-padding) - 2em);
    margin: calc(var(--section-padding) - 2em);
    padding: 2em;
    background: linear-gradient(
      180deg,
      rgba(10, 10, 10, 0.5) 0%,
      rgba(10, 10, 10, 1) 75%
    );
    border-radius: var(--radius);
    animation: 0.75s ease 0s 1 present;
    background-color: #0a0a0a;
    border: 3px solid #1f1f1f;
    z-index: 2;
  }

  #hero__text > span {
    font-size: var(--subtitle);
  }

  #hero__text > h2 {
    font-size: var(--title);
    font-weight: 600;
    margin: 0;
  }

  @media only screen and (min-width: 960px) {
    #hero__text {
      max-width: 65%;
    }
  }

  @media only screen and (min-width: 1024px) {
    #hero__text {
      left: calc(var(--section-padding) / 2 - 2em);
      margin: calc(var(--section-padding) / 2 - 2em);
    }
  }
</style>
