<section id="preface" class="container">
  <div>
    <p>
      I'm curious about how tech can be designed to serve people at scale
      without losing its ethics or soul. Being raised in the digital generation
      allowed me to observe the role tech has played in our circles, and I've
      never been more motivated to discover ways to contribute with the skills
      I've currently gained so far.
    </p>
    <p>
      Tech has always felt like my kind of thing. I had the privilege to have it
      close by as I grew up — the computer station in kindergarten; the ICT club
      in primary school; my choice of secondary school — and I leaned towards
      it. My passion solidified when I wrote my first lines of code back in 2019
      (<code id="preface__time">a few</code> years ago!), and I've since explored
      new domains at my own pace. Right now, I'm drawn towards interdisciplinary fields
      that blend tech with another subject — things like ethics, policy, and design
      are on my to-explore list.
    </p>
    <p>
      I'm discovering that there's so much more to tech than just code. I'm a
      firm believer in the community behind code, and I'm trying to be more
      active where I can — I've run special interest groups at school, helped
      planned workshops across the world, and created a digital garden to share
      my stream of thoughts with the world. There's just so much to discover,
      and that never gets old!
    </p>
    <p>
      If you've read this far, I hope there's something here that struck a chord
      with you. I'm more than excited learn about your journey, so feel free to
      reach out anytime! :)
    </p>

    <figure>
      <code class="sprinkle" style="--rotate: -15deg">
        Compilation error (line 8, col 12): ; expected
      </code>
      <code class="sprinkle" style="--rotate: 5deg">
        Access to fetch at '???' from origin 'https://arash.codes' has been
        blocked by CORS policy
      </code>
      <code class="sprinkle" style="--rotate: 0deg">
        Uncaught TypeError: Cannot read property 'foo' of undefined at
        anonymous:1:5
      </code>
      <code class="sprinkle" style="--rotate: -10deg">
        Stack overflow.<br />
        Repeat 24077 times:
      </code>
    </figure>
  </div>
</section>

<script>
  const preface__time = document.getElementById("preface__time");
  setInterval(() => {
    const time = new Date().valueOf() - new Date("02/01/2019").valueOf();
    const years = time / 31536000000;
    preface__time!.textContent = "~" + years.toFixed(8);
  }, 100);

  const preface__errors = document.getElementById("preface__errors");
  const text = document.getElementById("preface")!.querySelectorAll("p");
  const sprinkles = document
    .getElementById("preface")!
    .querySelectorAll(".sprinkle");
  preface__errors!.addEventListener("mouseenter", () => {
    text.forEach((p) => {
      p.style.opacity = "0.1";
    });
    sprinkles.forEach((s) => {
      (s as HTMLElement).style.opacity = "1";
    });
  });
  preface__errors!.addEventListener("mouseleave", () => {
    text.forEach((p) => {
      p.removeAttribute("style");
    });
    sprinkles.forEach((s) => {
      (s as HTMLElement).style.opacity = "0.15";
    });
  });
  preface__errors!.addEventListener("touchleave", () => {
    text.forEach((p) => {
      p.removeAttribute("style");
    });
    sprinkles.forEach((s) => {
      (s as HTMLElement).removeAttribute("style");
    });
  });

  // Sprinkles around the code blocks and only when they're in view for performance
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        sprinkles.forEach((s) => {
          (s as HTMLElement).style.animationPlayState = "running";
        });
      } else {
        sprinkles.forEach((s) => {
          (s as HTMLElement).style.animationPlayState = "paused";
        });
      }
    });
  });
  observer.observe(document.getElementById("preface")!);
</script>

<style>
  #preface {
    min-height: 75vh;
    display: flex;
  }

  #preface > div {
    margin: auto;
  }

  #preface > div > p {
    transition: opacity 0.2s ease;
  }

  #preface__errors {
    text-decoration: 1.75px dotted underline red;
    cursor: help;
  }

  figure {
    display: none;
  }

  figure > code {
    transition: opacity 0.2s ease;
  }

  figure > code:nth-child(1) {
    top: 5vh;
    right: 5vw;
    max-width: 27.5vmin;
  }

  figure > code:nth-child(2) {
    top: 35vh;
    left: 10vw;
    max-width: 50vmin;
    font-size: 1.25rem;
  }

  figure > code:nth-child(3) {
    top: 26vh;
    right: 20vw;
    max-width: 30vmin;
    font-size: 1rem;
  }

  figure > code:nth-child(4) {
    top: 40vh;
    right: 7.5vw;
    max-width: 25vmin;
    font-size: 1.25rem;
  }

  @media only screen and (min-width: 768px) {
    figure {
      display: block;
    }
  }

  @media only screen and (min-width: 1440px) {
    figure > code:nth-child(3) {
      right: 32.5vw;
    }
  }

  @media (prefers-reduced-motion: reduce) {
    #preface > p {
      transition: none;
    }

    figure > code {
      transition: none;
    }
  }
</style>
